.frame{ 
    height: 100%; 
    width: 100%; 
    border: none; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #4caf50, #2196f3);
    color: white;
    height: 60px;
    padding: 0 20px;
}

.header-icon img {
    width: 60px;
    height: auto;
}

.header-title {
    flex-grow: 1;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.form-container { 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 30%; 
    max-width: 300px; 
    margin-top: 40px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}

.form-group { 
    margin-bottom: 15px; 
} 

.form-group label { 
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

.form-group input, .form-group select, .form-group textarea { 
    width: 100%; 
    padding: 3px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
} 

.form-group textarea { 
    resize: vertical; 
}

.form-group .button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
}

.form-group .button:hover { 
    background-color: #45a049; 
}

.email-erro {
    border: 2px solid red;
}

.button-container { 
    margin-right: 20px; 
}

.page-button { 
    background-color: rgb(255, 255, 255); 
    color: #4caf50; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.page-button:hover { 
    background-color: #2196f3; 
    color: white; 
}

#entrada-popup, #saida-popup {
    background-color: #f1f1f1; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 30%; 
    max-width: 300px; 
    margin-top: 40px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    max-height: 500px;
}

#entrada-popup h2, #saida-popup h2 {
    margin-top: 0;
}

#historico-entrada {
    list-style-type: none;
    padding: 0;
}

#historico-entrada li {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#historico-entrada li:nth-child(odd) {
    background-color: #ffffff;
}
